<div class="page-header" data-parallax="true" style="
    background-image: url('./assets/img/wurm1920x1080.jpg');
    min-height: 10vh;
  "></div>
<div class="main">
    <div class="section text-center" style="padding: 25px 0">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Alchemy Mod</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8" style="text-align: left">
                    <h2 class="title">Components</h2>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div class="alchemy-icon glass"></div> Glass (hot)
                            </h5>
                        </div>

                        <div class="card-body">
                            Starting Items: Sand + Ash<br /> Additional Items:
                            <ul>
                                <li>
                                    Ash x17
                                </li>
                                <li>
                                    Salt x17
                                </li>
                            </ul>

                            Note: Heat up "glass mixture" in a forge or oven.
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div class="alchemy-icon phial-mold-clay"></div> Phial Mould, Clay
                            </h5>
                        </div>

                        <div class="card-body">
                            Starting Items: Pottery Flask + Clay<br />
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div class="alchemy-icon phial-mold-pottery"></div> Phial Mould, Pottery
                            </h5>
                        </div>

                        <div class="card-body">
                            Starting Items: Phial Mould, Clay + Forge, Oven or Kiln<br />
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div class="alchemy-icon glass-phial"></div> Glass Phial
                            </h5>
                        </div>

                        <div class="card-body">
                            Starting Items: Phial Mould, Pottery + Glass (hot) <br />
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-8" style="text-align: left">
                    <h2 class="title">Mixtures</h2>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div class="alchemy-icon blue-mixture"></div> Mixture of Fog Skin
                            </h5>
                        </div>

                        <div class="card-body">
                            Starting Items: Lingonberry + Wemp Plants<br />
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div class="alchemy-icon red-mixture"></div> Mixture of Frenzy
                            </h5>
                        </div>

                        <div class="card-body">
                            Starting Items: Red mushroom + Nutmeg<br />Additional Items:
                            <ul>
                                <li>Tooth x1</li>
                                <li>Tomato x1</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div class="alchemy-icon purple-mixture"></div> Mixture of Goat
                            </h5>
                        </div>

                        <div class="card-body">
                            Starting Items: Branch + Oat<br />
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div class="alchemy-icon pink-mixture"></div> Mixture of Health
                            </h5>
                        </div>

                        <div class="card-body">
                            Starting Items: Brown mushroom + Wheat<br />
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div class="alchemy-icon yellow-mixture"></div> Mixture of Knowledge
                            </h5>
                        </div>

                        <div class="card-body">
                            Starting Items: Yellow mushroom + Tumeric<br />Additional Items:
                            <ul>
                                <li>Strawberries x1</li>
                                <li>Coin x1 (silver)</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div class="alchemy-icon blue-mixture"></div> Mixture of Phasing
                            </h5>
                        </div>

                        <div class="card-body">
                            Starting Items: Rosemary + Ivy seedling<br />Additional Items:
                            <ul>
                                <li>Eye x1</li>
                                <li>Pumpkin x1</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>