<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('https://i.imgur.com/qfCIH9t.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Guardians of Wurm</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <!-- <h2 class="presentation-subtitle text-center">Fandango</h2> -->
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class="category-absolute ml-auto mr-auto">Wurm Unlimited
            <!-- <a href="https://mythmoor.com/" target="_blank">
                Mythmoor Prime
            </a> -->
        </h6>
    </div>
    <div class="main">

        <!-- <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Completed with examples</h2>
                        <p class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful kit.</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>