<div class="page-header" data-parallax="true" style="
    background-image: url('./assets/img/wurm1920x1080.jpg');
    min-height: 10vh;
  "></div>
<div class="main">
    <div class="section text-center" style="padding: 25px 0">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Server Setup</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="fas fa-balance-scale" style="font-size: 36px; color: red"></i>
                        </div>
                        <div class="description">
                            <p class="description">4x Skill Gain<br />4x Action Timers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="fas fa-home" style="font-size: 36px; color: red"></i>
                        </div>
                        <div class="description">
                            <p>No fees for settlement creation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="fas fa-bread-slice" style="font-size: 36px; color: red"></i>
                        </div>
                        <div class="description">
                            <p>8 hour farm ticks.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="fas fa-running" style="font-size: 36px; color: red"></i>
                        </div>
                        <div class="description">
                            <p>Start with 23 Body Strength and other chracteristics.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-dark text-center" style="padding: 25px 0">
        <div class="container">
            <h2 class="title">Server-Side Mods</h2>
            <div class="row">
                <div class="col-md-8" style="text-align: left">
                    <ul class="list-unstyled mod-description">
                        <li>
                            Announcer: who's logging in and out. (And who's crashing due to lag ;)
                        </li>
                        <li>
                            Archeo-tweaks: Tweaks loot distribution to reduce junk-tier drops on "good" tiles.
                        </li>
                        <li>
                            Bag of Holding: A spell to increase the volume of a container.
                        </li>
                        <li>
                            Better Digging: Dirt drops on ground, also enables digging and other actions from cart.
                        </li>
                        <li>
                            Better Farming: Farm bigger and bigger area at higher skill. 30 Farming gets the 3x3 action, etc.
                        </li>
                        <li>
                            Bounty on Burn: Burning corpses grants 30 favor and 1 copper.
                        </li>
                        <li>Crop Mod: Crops will not rot, and why would they?</li>
                        <li>
                            Discord Relay: Messages in our chat channels are relayed to Discord (and back again!)
                        </li>
                        <li>
                            Fire Burn Time: Forges, ovens and campfires display the burn time remaining on examination.
                        </li>
                        <li>Hitching Posts: tie your animals to something.</li>
                        <li>
                            Location Command: /location tells you the X and Y of where you are on the map.
                        </li>
                        <li>Minipets: Find eggs, hatch wee pets that follow you around.</li>
                        <li>
                            One Tile Mining: expose a single rock tile with only four corners. Also, adds a rock leveling action.
                        </li>
                        <li>
                            Sindusk's Spellmod: massive quality of life improvement for priests.
                        </li>
                        <ul>
                            <li>No priest restrictions: everyone is a priest!</li>
                            <li>Up to 500 max faith and favor.</li>
                            <li>
                                QL and rarity of the statuette to have added benefits to spellcasting.
                            </li>
                        </ul>
                        <li>Spellmod: all priests can can all spells!</li>
                        <li>
                            Taxidermy: preserve your favorite furry friends and monsters.
                        </li>
                        <li>
                            Treasure Hunting: find maps from various actions. Use your compass to find buried treasure.
                        </li>
                        <li>
                            Vote Mod: Earn daily coin award by
                            <a href="https://wurm-unlimited.com/server/10403/">voting here!</a>
                        </li>
                        <!-- <li>
              Wyvern Mods: Some of the functionality of this great (and complex) mod has been enabled.
            </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>